body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f8f9fa;
}

header {
    text-align: center;
    padding: 20px;
    background: #1d2452;
    color: #fff;
}

h1 {
    margin: 0;
}

.welfare-content, .event-tabs, .tab-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.tab-button {
    background-color: #1d2452;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin: 0 5px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.tab-button:hover {
    background-color: #57606a;
}

.tab-button.active {
    background-color: #b82128;
}

.tab-content {
    display: none;
    padding: 20px;
    animation: fadeIn 1s ease-in-out;
    width: 100%;
}

.card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    flex: 1 1 calc(33% - 40px);
    max-width: calc(33% - 40px);
    box-sizing: border-box;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .card {
        flex: 1 1 calc(50% - 40px);
        max-width: calc(50% - 40px);
    }
}

@media (max-width: 480px) {
    .card {
        flex: 1 1 100%;
        max-width: 100%;
    }
}
